In [2]:
# Import libraries
import pandas as pd
from sodapy import Socrata

In [3]:
client = Socrata("data.novascotia.ca", 'cx4XloH6tDgX8ZhFFmtAuxtMc')

In [4]:
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
# results = client.get("eb3n-uxcb", limit=6000000)
results = client.get("eb3n-uxcb", limit=500000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [5]:
results_df

,waterbody,station,lease,latitude,longitude,deployment_period,timestamp,sensor,depth,variable,value
0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22T21:00:00.000,HOBO-10817410,2,Temperature,3.036
1,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22T22:00:00.000,HOBO-10817410,2,Temperature,3.063
2,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22T23:00:00.000,HOBO-10817410,2,Temperature,3.116
3,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23T00:00:00.000,HOBO-10817410,2,Temperature,3.116
4,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23T01:00:00.000,HOBO-10817410,2,Temperature,3.168
...,...,...,...,...,...,...,...,...,...,...,...
499995,Marie Joseph Harbour,Barren Island,NA,44.94988,-62.01012,2018-Aug-08 to 2019-Jul-02,2018-10-27T19:50:00.000,VR2AR-547088,15,Temperature,9.8
499996,Marie Joseph Harbour,Barren Island,NA,44.94988,-62.01012,2018-Aug-08 to 2019-Jul-02,2018-10-27T20:00:00.000,VR2AR-547088,15,Temperature,9.8
499997,Marie Joseph Harbour,Barren Island,NA,44.94988,-62.01012,2018-Aug-08 to 2019-Jul-02,2018-10-27T20:10:00.000,VR2AR-547088,15,Temperature,9.8
499998,Marie Joseph Harbour,Barren Island,NA,44.94988,-62.01012,2018-Aug-08 to 2019-Jul-02,2018-10-27T20:20:00.000,VR2AR-547088,15,Temperature,9.8
499999,Marie Joseph Harbour,Barren Island,NA,44.94988,-62.01012,2018-Aug-08 to 2019-Jul-02,2018-10-27T20:30:00.000,VR2AR-547088,15,Temperature,9.8

In [7]:
subset_df = results_df.iloc[0:2000]
subset_df.loc[:, ('timestamp')] = pd.to_datetime(subset_df['timestamp'])
subset_df.loc[1] = subset_df.loc[0]
subset_df.loc[1:1, ('variable')] = 'salinity'
# typed_subset_df = subset_df.infer_objects()
subset_df

/home/bcovey/miniconda3/envs/CMAR/lib/python3.9/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
/home/bcovey/miniconda3/envs/CMAR/lib/python3.9/site-packages/pandas/core/indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)
/home/bcovey/miniconda3/envs/CMAR/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,waterbody,station,lease,latitude,longitude,deployment_period,timestamp,sensor,depth,variable,value
0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 21:00:00,HOBO-10817410,2,Temperature,3.036
1,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 21:00:00,HOBO-10817410,2,salinity,3.036
2,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 23:00:00,HOBO-10817410,2,Temperature,3.116
3,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 00:00:00,HOBO-10817410,2,Temperature,3.116
4,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 01:00:00,HOBO-10817410,2,Temperature,3.168
...,...,...,...,...,...,...,...,...,...,...,...
1995,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 00:00:00,HOBO-10817410,2,Temperature,0.024
1996,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 01:00:00,HOBO-10817410,2,Temperature,0.051
1997,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 02:00:00,HOBO-10817410,2,Temperature,0.024
1998,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 03:00:00,HOBO-10817410,2,Temperature,-0.004
1999,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 04:00:00,HOBO-10817410,2,Temperature,0.051

In [15]:
grouped_df = subset_df.groupby(['waterbody', 'station', 'lease', 'latitude', 'longitude', 'deployment_period', 'timestamp', 'sensor', 'depth'], as_index=False)

In [19]:
def merge_timestamps(group):
    non_unique = ['variable', 'value']
    
    new_df = pd.DataFrame()
    
    # Copy over all of the unique columns     
    for col in group:
        if col not in non_unique:
            new_df[col] = group[col].unique()
    
    # Handle the non-unique columns
    # Create a column for each variable, store the associated value
    # If there are multiple, different values for the same variable, at the same time, raise an error     
    sci_variable_list = group['variable'].unique()
    for variable in sci_variable_list:
        if len(group['value'].unique()) > 1:
            raise("Multiple values for the same variable at timestamp: %s" % new_df['timestamp'])
        else:
            new_df[variable] = group['value'].unique()
    return new_df

In [20]:
merged_df = grouped_df.apply(merge_timestamps)

In [21]:
merged_df

,,waterbody,station,lease,latitude,longitude,deployment_period,timestamp,sensor,depth,Temperature,salinity
0,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 21:00:00,HOBO-10817410,2,3.036,3.036
1,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 23:00:00,HOBO-10817410,2,3.116,NaN
2,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 00:00:00,HOBO-10817410,2,3.116,NaN
3,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 01:00:00,HOBO-10817410,2,3.168,NaN
4,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 02:00:00,HOBO-10817410,2,3.142,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1994,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 00:00:00,HOBO-10817410,2,0.024,NaN
1995,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 01:00:00,HOBO-10817410,2,0.051,NaN
1996,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 02:00:00,HOBO-10817410,2,0.024,NaN
1997,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 03:00:00,HOBO-10817410,2,-0.004,NaN
1998,0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 04:00:00,HOBO-10817410,2,0.051,NaN