In [1]:
# Import libraries
import pandas as pd
from sodapy import Socrata

In [3]:
client = Socrata("data.novascotia.ca", 'cx4XloH6tDgX8ZhFFmtAuxtMc')

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("eb3n-uxcb", limit=6000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [5]:
results_df

,waterbody,station,lease,latitude,longitude,deployment_period,timestamp,sensor,depth,variable,value
0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22T21:00:00.000,HOBO-10817410,2,Temperature,3.036
1,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22T22:00:00.000,HOBO-10817410,2,Temperature,3.063
2,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22T23:00:00.000,HOBO-10817410,2,Temperature,3.116
3,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23T00:00:00.000,HOBO-10817410,2,Temperature,3.116
4,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23T01:00:00.000,HOBO-10817410,2,Temperature,3.168
...,...,...,...,...,...,...,...,...,...,...,...
5476950,Chedabucto Bay,Tickle Island,NA,45.3594,-61.04287,2020-Feb-24 to 2020-Oct-21,2020-10-21T08:00:00.000,VR2AR-547232,75,Temperature,3.2
5476951,Chedabucto Bay,Tickle Island,NA,45.3594,-61.04287,2020-Feb-24 to 2020-Oct-21,2020-10-21T09:00:00.000,VR2AR-547232,75,Temperature,3.1
5476952,Chedabucto Bay,Tickle Island,NA,45.3594,-61.04287,2020-Feb-24 to 2020-Oct-21,2020-10-21T10:00:00.000,VR2AR-547232,75,Temperature,3
5476953,Chedabucto Bay,Tickle Island,NA,45.3594,-61.04287,2020-Feb-24 to 2020-Oct-21,2020-10-21T11:00:00.000,VR2AR-547232,75,Temperature,3
5476954,Chedabucto Bay,Tickle Island,NA,45.3594,-61.04287,2020-Feb-24 to 2020-Oct-21,2020-10-21T12:00:00.000,VR2AR-547232,75,Temperature,7.2

In [59]:
subset_df = results_df.iloc[0:2000]
subset_df.loc[:, ('timestamp')] = pd.to_datetime(subset_df['timestamp'])
subset_df.loc[1] = subset_df.loc[0]
subset_df.loc[1:1, ('variable')] = 'salinity'
# typed_subset_df = subset_df.infer_objects()
subset_df

,waterbody,station,lease,latitude,longitude,deployment_period,timestamp,sensor,depth,variable,value
0,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 21:00:00,HOBO-10817410,2,Temperature,3.036
1,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 21:00:00,HOBO-10817410,2,salinity,3.036
2,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-22 23:00:00,HOBO-10817410,2,Temperature,3.116
3,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 00:00:00,HOBO-10817410,2,Temperature,3.116
4,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2018-12-23 01:00:00,HOBO-10817410,2,Temperature,3.168
...,...,...,...,...,...,...,...,...,...,...,...
1995,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 00:00:00,HOBO-10817410,2,Temperature,0.024
1996,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 01:00:00,HOBO-10817410,2,Temperature,0.051
1997,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 02:00:00,HOBO-10817410,2,Temperature,0.024
1998,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 03:00:00,HOBO-10817410,2,Temperature,-0.004
1999,Country Harbour,1307,1307,45.16005,-61.68007,2018-Dec-20 to 2019-Apr-02,2019-03-16 04:00:00,HOBO-10817410,2,Temperature,0.051

In [60]:
grouped_df = subset_df.groupby(['waterbody', 'station', 'lease', 'latitude', 'longitude', 'deployment_period', 'timestamp', 'sensor', 'depth'])

In [103]:
def merge_timestamps(group):
    non_unique = ['variable', 'value']
    
    new_df = pd.DataFrame()
    
    # Copy over all of the unique columns     
#     for col in group:
#         if col not in non_unique:
#             new_df[col] = group[col].unique()
    
    # Handle the non-unique columns
    # Create a column for each variable, store the associated value
    # If there are multiple, different values for the same variable, at the same time, raise an error     
    sci_variable_list = group['variable'].unique()
    for variable in sci_variable_list:
        if len(group['value'].unique()) > 1:
            raise("Multiple values for the same variable at timestamp: %s" % new_df['timestamp'])
        else:
            new_df[variable] = group['value'].unique()
    return new_df

In [106]:
merged_df = grouped_df.apply(merge_timestamps)

In [110]:
merged_df

                                                                                                                      Temperature  \
waterbody       station lease latitude longitude deployment_period          timestamp           sensor        depth
Country Harbour 1307    1307  45.16005 -61.68007 2018-Dec-20 to 2019-Apr-02 2018-12-22 21:00:00 HOBO-10817410 2     0       3.036
                                                                            2018-12-22 23:00:00 HOBO-10817410 2     0       3.116
                                                                            2018-12-23 00:00:00 HOBO-10817410 2     0       3.116
                                                                            2018-12-23 01:00:00 HOBO-10817410 2     0       3.168
                                                                            2018-12-23 02:00:00 HOBO-10817410 2     0       3.142
...                                                                                                                           ...
                                                                            2019-03-16 00:00:00 HOBO-10817410 2     0       0.024
                                                                            2019-03-16 01:00:00 HOBO-10817410 2     0       0.051
                                                                            2019-03-16 02:00:00 HOBO-10817410 2     0       0.024
                                                                            2019-03-16 03:00:00 HOBO-10817410 2     0      -0.004
                                                                            2019-03-16 04:00:00 HOBO-10817410 2     0       0.051

                                                                                                                      salinity
waterbody       station lease latitude longitude deployment_period          timestamp           sensor        depth
Country Harbour 1307    1307  45.16005 -61.68007 2018-Dec-20 to 2019-Apr-02 2018-12-22 21:00:00 HOBO-10817410 2     0    3.036
                                                                            2018-12-22 23:00:00 HOBO-10817410 2     0      NaN
                                                                            2018-12-23 00:00:00 HOBO-10817410 2     0      NaN
                                                                            2018-12-23 01:00:00 HOBO-10817410 2     0      NaN
                                                                            2018-12-23 02:00:00 HOBO-10817410 2     0      NaN
...                                                                                                                        ...
                                                                            2019-03-16 00:00:00 HOBO-10817410 2     0      NaN
                                                                            2019-03-16 01:00:00 HOBO-10817410 2     0      NaN
                                                                            2019-03-16 02:00:00 HOBO-10817410 2     0      NaN
                                                                            2019-03-16 03:00:00 HOBO-10817410 2     0      NaN
                                                                            2019-03-16 04:00:00 HOBO-10817410 2     0      NaN

[1999 rows x 2 columns]